<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</title>
  </head>
  <body>
    <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save</button>
      <a href="{% url 'product_list' %}">Cancel</a>
    </form>
  </body>
</html>
